{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!
{% endblock %}

{% block body %}
	<style>
		.body {
			width: 100%;
			background: white;
			height: 70vh;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #388c37;
		}
		.title {
			font-weight: 800;
			font-family: inherit;
			color: white;
		}
		.text {
			color: white;
		}
	</style>

	<div class="body">
		<div>
			<h1 class="title">BIENVENUE DANS LE SITE D'INSCRIPTION A L'ISPM</h1>
			<h3 class="text-center text">Institut Supérieur Polytechnique de Madagascar</h3>
		</div>
	</div>
{% endblock %}
